appdirs==1.4.4
audioread==3.0.1
build==1.2.1
buildozer==1.5.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
Cython==0.29.33
decorator==5.1.1
distlib==0.3.8
docutils==0.21.2
filelock==3.15.4
idna==3.7
Jinja2==3.1.4
joblib==1.4.2
Kivy==2.3.0
Kivy-Garden==0.1.5
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
MarkupSafe==2.1.5
msgpack==1.0.8
numba==0.60.0
numpy==2.0.0
packaging==24.1
pexpect==4.9.0
platformdirs==4.2.2
pooch==1.8.2
ptyprocess==0.7.0
PyAudio==0.2.14
pycparser==2.22
pygame==2.6.0
Pygments==2.18.0
pyproject_hooks==1.1.0
requests==2.32.3
scikit-learn==1.5.0
scipy==1.14.0
setuptools==70.1.1
sh==1.14.3
soundfile==0.12.1
soxr==0.3.7
threadpoolctl==3.5.0
toml==0.10.2
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.3
